<footer class="footer mt-5 pt-5 text-center bg-dark">
    <div class="copyright align-middle">
        <span class="text-muted align-middle p-3">Articles can be found at and belong to <a href="https://slashdot.org/" target="_blank" class="text-info">Slashdot</a></span>
    </div>
</footer>