<footer class="footer mt-auto py-3 text-center bg-dark">
    <div class="copyright">
        <span class="text-muted">Articles can be found at and belong to <a href="https://slashdot.org/" target="_blank" class="text-info">Slashdot</a></span>
    </div>
</footer>