<footer class="footer mt-auto py-3">
    <div class="copyright">
        <span class="text-muted">Articles can be found at and belong to <a href="https://www.huffpost.com/" target="_blank">The Huffpost</a></span>
    </div>
</footer>