
{{#each articles}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.summary}}</p>
    <a href="{{this.link}}" class="card-link">Original Article</a>
    <a href="#" class="card-link">Delete Article</a>
  </div>
</div>
{{/each}}
