<div>
  <h2 class="text-center">Check What's Happening at Slashdot</h2>
</div>

<div class="row"></div>
  <div class="">
    <div id="articles">
      {{#each article}}
      <div class="card" id="{{this._id}}">
        <div class="card-body">
          <h4 class="card-title"><strong>{{this.title}}</strong></h4>
          <a href="/article/{{this._id}}" class="card-link">Read</a>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>







